.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

body {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.99);
  z-index: 100;
  
}
